.search-hero {
    max-width: 500px;
    margin:auto;
  }
  
  
  .form-control::placeholder  {
    font-family: FontAwesome;
  }
  a.active{
    background-color: rgb(19, 15, 15);
    color: rgb(249, 237, 237);
  }
 