<div class="container mt-5 mb-5">
  <button routerLink="/crer-produits" type="button" class="btn btn-lg btn-dark float-end mb-2 rounded-2">create</button>
 
 
    <div class=" d-flex col-md-6 mb-2 search-hero  " >
       <input class="form-control rounded-pill " type="search" name="search" placeholder="&#61442; Search for Product"   ngModel [(ngModel)]="searchText"  aria-label="Search" >
       <button class=" search2  btn btn-light  text-dark mx-1" type="submit"  [routerLink]="['/searchAdminPro/', searchText]"  > 
         <i class="bi bi-search"></i></button>
     </div>
   
   <!-- <div class=" d-flex col-md-6 mb-2 search-hero  " >
    <input class="form-control" type="search" name="search" placeholder="&#61442; Search for Product"   ngModel [(ngModel)]="searchText"  aria-label="Search" >
   </div> -->
    <table class="table table-striped shadow p-3 mb-5 bg-body rounded">
      <thead>
        <tr>
          <th scope="col"> Code d'article</th>
          <th scope="col">Description</th>
          <th scope="col">Remise</th>
          <th scope="col">Tva</th>
          <th scope="col">Quantite</th>
          <th scope="col">Prix</th>
          <th scope="col">Pays Origine</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of produits ">
          <th scope="row">{{prod.codeArticle}}</th>
          <td>{{prod.description}}</td>
          <td>{{prod.remise}}</td>
          <td>{{prod.tva}}</td>
          <td>{{prod.quantite}}</td>
          <td>{{prod.prix}}</td>
          <td>{{prod.paysOrigine}}</td>
          <td><button
            tooltip="Delete" placement="top"
            class="btn btn-danger "
            mwlConfirmationPopover
            [popoverTitle]="popoverTitle"
            [popoverMessage]="popoverMessage"
            placement="left"
            (confirm)="deletePRODUIT(prod.codeArticle)"
            (cancel)="cancelClicked = true"
          >
          <i class="bi bi-trash3-fill"></i>
          </button> </td>
           <!--  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Supppression d'un produit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Voulez-vous vraiment supprimer ce produit ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" (click)="deletePRODUIT(prod.codeArticle)" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-primary">Confirmer</button>
                    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Suppression avac succés</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            vous avez supprimé cette produit
                          </div>
                         
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          
          
          
          
          </td> -->
          <td><button [routerLink]="['/editer-produits/', prod.codeArticle]" type="button" class="btn btn-success"tooltip="Editer" placement="top"
            ><i class="bi bi-pencil-square"></i>
          </button>
          </td>
         <td><button [routerLink]="['/visualiser-produits/', prod.codeArticle]" type="button" class="btn btn-secondary"tooltip="Visualiser" placement="top"
          ><i class="bi bi-zoom-in"></i></button></td>
        </tr>
      </tbody>
    </table>
  <!--   <div class="btn-group">
      <ul class=" nav nav-pills pointer " *ngFor="let p of total ; let i=index">
                            <li class="nav-item p-1">
                              <a  class="nav-link" (click)="setPage(i,$event)"[ngClass]="{'active':i==page}">{{i}}</a>
                            </li>
  
                  </ul></div> -->
                  <div class="d-flex justify-content-center mt-5">  <nav aria-label="Page navigation example " >
                    <ul class="pagination pointer " >
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous" click=" previous()">
                          <span aria-hidden="true"style="color: black;">&laquo;Prev</span>
                        </a>
                      </li>
                    
                        <li class="page-item" *ngFor="let p of total ; let i=index">
                        <a  class="page-link" (click)="setPage(i,$event)"[ngClass]="{'active':i==page}">{{i}}</a>
                       </li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next"  click="Next()">
                          <span aria-hidden="true" style="color: black;">Next&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav></div>
  </div>