<div class="container-fluid  mt-5 mb-5  p-3  rounded-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-xl-6 col-12 mx-auto   ">
  <form #f="ngForm" (ngSubmit)="addDevis(f)" class="bg-white  p-3 shadow  mb-5 bg-body rounded-3">
    <div class="form-group">
      <div class="form-floating "> <select class="form-select form-select-lg mb-3 h-100" required   name="idPersonne" ngModel  #id="ngModel" aria-label=".form-select-lg example">
        <option value="" class="text-center">Select your id</option>

    <option class="text-center" *ngFor="let per of personnes"  [(ngModel)]="per.id">{{per.id}}</option>

  </select> <label for="">N° Id</label></div>



    </div>



    <div *ngFor="let el of elements;let index = index" [ngModelGroup]="index+''">

      <div class="form-group">
        <div class="form-floating"><input class="form-control text-center" placeholder="Référence" type="number" id="codeArticle" name="codeArticle" ngModel
          required #codeArticle="ngModel">  <label for="">Référence</label></div>

        <div *ngIf="codeArticle.invalid && (codeArticle.dirty || codeArticle.touched)"
          class="p-2 my-1 bg-danger text-white rounded-1">

          <div *ngIf="codeArticle.errors?.['required']">
            Le codeArticle est obligatoire.
          </div>

        </div>
      </div>
       <div class="form-group">
        <div class="form-floating"><input class="form-control text-center" placeholder="Remise" type="number" id="remise" name="remise" ngModel required
          #remise="ngModel">  <label for="">Remise</label></div>


      <div *ngIf="remise.invalid && (remise.dirty || remise.touched)"
        class="p-2 my-1 bg-danger text-white rounded-1">

        <div *ngIf="remise.errors?.['required']">
          La Remise est obligatoire.
        </div>

      </div>
    </div>
      <div class="form-group">
        <div class="form-floating"><input class="form-control text-center" placeholder="Quantité" type="number" id="createdevis.articles.quantite" name="quantite" ngModel required
          #quantite="ngModel"> <label for="">Quantité</label></div>

        <div *ngIf="quantite.invalid && (quantite.dirty || quantite.touched)"
          class="p-2 my-1 bg-danger text-white rounded-1">

          <div *ngIf="quantite.errors?.['required']">
            La quantite est obligatoire.
          </div>

        </div>
      </div>


    </div>


    <hr><div class="row">
    <button class="btn btnColor mx-2  text-white large col-10 mx-auto col-sm-5 my-1" type="button" (click)="addArticle()">ajout article</button>
    <button class="btn btn-dark mx-2  text-white meduim col-10 mx-auto col-sm-3 my-1" data-bs-toggle="modal" data-bs-target="#exampleModal3" type="submit"
      [disabled]="f.invalid">save</button>
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Creation avac succés</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            vous avez creé un devis
          </div>

        </div>
      </div>
    </div>
    <button routerLink="/liste-devis" class="btn btn-dark  text-white meduim col-10 mx-auto col-sm-3 my-1">retour</button></div>
  </form>
</div></div></div>


