<div class="header_top p-4" *ngIf="getData()">
    <div class="container" >
       <div class="row"  >
          <div class="col-md-4 col-sm-12" >
             <ul class="conta_icon "  >
                <li ><a href="#"></a>{{obj.email}} </li>
             </ul>
          </div>
          <div class="col-md-4 col-sm-12">
             <ul class="social_icon ">
                <li> <a href="#"><i class=" mx-2  bi bi-facebook"></i>
                   </a>
                </li>
                <li> <a href="#"><i class=" mx-2 bi bi-twitter"></i></a></li>
                <li> <a href="#"> <i class=" mx-2   bi bi-linkedin"></i></a></li>
                <li> <a href="#"><i class=" mx-2  bi bi-instagram"></i>
                   </a>
                </li>
             </ul>
          </div>
          <div class="col-md-4 ">
            
                <ul class="conta_icon float-end"   >
                   <li ><a href="#"  ></a> {{obj.username}}</li>
                </ul>
                
            
             
          </div>
       </div>
    </div>