<div class="header_top  d-none d-sm-block  " *ngIf="getData()">
    <div class="container  " >
       <div class="row d-flex justify-content-between"  >
          <div class="col-md-4 mx-0 col-sm-4  p-3 " >
             <ul class="conta_icon "  >
                <li ><a href="#"><i class="bi bi-envelope-fill"> {{obj.email}}</i></a> </li>
             </ul>
          </div>
          <div class="col-md-3 col-sm-4 p-3">
             <ul class="social_icon ">
                <li> <a href="#"><i class=" mx-2  bi bi-facebook"></i>
                   </a>
                </li>
                <li> <a href="#"><i class=" mx-2 bi bi-twitter"></i></a></li>
                <li> <a href="#"> <i class=" mx-2   bi bi-linkedin"></i></a></li>
                <li> <a href="#"><i class=" mx-2  bi bi-instagram"></i>
                   </a>
                </li>
             </ul>
          </div>
          <div class="col-md-5  col-sm-4  ">
                <div class="conta_icon float-end p-1"   >
              
                     <div >
                        <!-- <a class="dropdown-toggle" type="button" >  -->
                       <!-- <div class="d-flex"> -->
                       
                           <p class=" text-start fw-semibold mt-3 mx-2 text-info ">Bienvenue chez Maison Moderne M.<span class="text-dark"> {{obj.username}}</span></p></div> 
                        
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Voir la photo de profil</a></li>
                          <li><a class="dropdown-item" href="#">Mettre à jour la photo de profil</a></li>
                        </ul> 
                     <!--  </div>
                  
                  
                 
                </div>
                
            
             
          </div>
       </div>
    </div> -->