.text-danger strong {
    color: #9f181c;
}
.receipt-main {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 12px solid #333333;
    border-top: 12px solid #9f181c;
    padding: 40px 30px !important;
    box-shadow: 0 1px 21px #acacac;
    color: #333333;
    font-family: open sans;
}




 h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 7px 0;
}
 p {
    font-size: 16px;
    margin: 0px;
}






 thead {
    background: #414143 none repeat scroll 0 0;
}
