

<div class="container margin ">
  <div class="row">
  <div class="col-md-12  mx-auto  col-lg-5 col-11 ms-3 col-xl-5 "><h2 class="fst-semibold text-primary mb-3 mt-5" >Maison Moderne</h2>
  <!-- <img src="../../../../assets/images/img/logo.jpg" class=" rounded-4 " width="300px" height="250px"> -->
  <h4 class=" fst-normal text-muted mt-2">Avec Maison Moderne  Suivez,Achetez En Ligne</h4>
  </div><!--offset-md-4-->
  <div class="bg-white col-md-10 col-lg-8 col-xl-6   offset-lg-2  col-sm-12 col-11 mx-auto card shadow offset-md-2   rounded-2 mt-2" >
    <h1 class="text-center p-3 text-dark "><strong>Login</strong></h1>
    <div class="d-flex justify-content-center"><form #f="ngForm" (ngSubmit)="entrerlogin(f)" class="p-1 w-100 " >
      <div class="form-group col-md-10 mx-auto">
        <div class="form-floating mb-2  "> 
           <input class="form-control " placeholder="Username" type="text" id="username" name="username" required minlength="4" ngModel #username="ngModel">
         <label for="">Username</label></div>

       
        <div *ngIf="username.invalid && (username.dirty || username.touched)"
          class="p-2 fs-6 text bg-danger text-white rounded-3">

          <div *ngIf="username.errors?.['required']">
            Le pseudo est obligatoire.
          </div>
          <div *ngIf="username.errors?.['minlength']">
            Le pseudo doit avoir au moin 4 caractères
          </div>
        </div>
      </div>


      <div class="form-group  ">
        <!-- <label for="fname">password</label> -->
        <div class="form-floating col-md-10 mx-auto "> 
          <input class="form-control border-2 rounded-0 w-100" placeholder="password" type="password" id="password" name="password" required minlength="4" ngModel
          #password="ngModel">
        <label for="" class="ms-2">password</label></div>
       
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
          class="p-2 mb-2 fs-6 text bg-danger text-white rounded-3">

          <div *ngIf="password.errors?.['required']">
            Le Mot de passe est obligatoire.
          </div>
          <div *ngIf="password.errors?.['minlength']">
            Le Mot de passe doit avoir au moin 4 caractères
          </div>
        </div>
      </div>
      <div *ngIf="loginError">
        <span class="text-danger">login ou mot de passe erroné</span>
      </div>
    <hr>
<div class="d-flex justify-content-center mx-auto col-md-10 col-12 ">     
   <button class=" btn btn-primary w-100 rounded-1  fs-4 fw-semibold shadow1" type="submit" [disabled]="f.invalid">Se connecter</button>
</div>

      <a routerLink="/register">
        <p class="text-center my-2 text-primary">Forgot password?</p>
      </a>
    
    </form>
  
  </div>
  <p class="sidebutton"></p>
 <div class="d-flex justify-content-center  mx-auto col-md-10 col-12 "> 
  <button class=" btn color text-white mb-5 w-100 rounded-1  fw-semibold  height" routerLink="/register"><h5>Créer nouveau compte</h5> </button></div>

  </div>
</div></div>