
<!-- fixed-top-->
<nav class="navbar  sticky-top  navbar-expand-lg shadow mb-5 bg-body rounded">
  <div class="container ">
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-md-5 col-xl-5   col-sm-4 ">

        <li class="nav-item  ">
          <a class="nav-link active hover fst-italic fs-5 " aria-current="page" href="#" routerLink="/home"><i class="bi bi-house-fill"></i>Home</a>
        </li>
      
          <li class="nav-item dropdown " *ngIf=" getAccestouser() " >
            <a class="nav-link  fst-italic fs-5 hover" href="#" routerLink="/entreprise" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
             Entreprise
            </a>
          </li>
          <li class="nav-item dropdown" *ngIf=" getAccestouser() " >
            <a class="nav-link  hover fst-italic fs-5" href="#" routerLink="/contact" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
             Contact
            </a>
          </li>
         <!--  <li *ngIf=" getAccestouser() " >
            <a class="nav-link  text-white" href="https://www.acem.tn/Catalogue"  role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
             Catalogue
            </a>
          </li> -->
        <li class="nav-item dropdown  " *ngIf=" getAccestouser()  &&  loggedIn()" >
          <a class="nav-link  hover fst-italic fs-5" href="#" routerLink="/liste-produits" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{'Produits' | translate}}
          </a>
        </li>
       
        <li class="nav-item dropdown  " *ngIf="getAccestoAdmin() &&  loggedIn()">
          <a class="nav-link  hover fst-italic fs-5" href="#" routerLink="/adminliste-produit" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{'Produits' | translate}}
          </a>

        </li>
        <li class="nav-item ">
          <a class="nav-link  hover fst-italic fs-5 " routerLink="/liste-facture" *ngIf="getAccestoAdmin() && loggedIn()">{{'factures' |translate}} </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link  hover  fst-italic fs-5" routerLink="/liste-devis" *ngIf="getAccestoAdmin() && loggedIn()">{{'devis'|translate}}</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link hover fst-italic fs-5" routerLink="/list-personne"
            *ngIf="getAccestoAdmin() && loggedIn()"><i class="bi bi-person-fill"></i>{{'Utilisateur'|translate}}</a>
        </li>
      </ul>

      <div class=" d-flex   col-sm-10 col-md-4 col-xl-6  " role="search" *ngIf=" loggedIn()">
        <input class="form-control " type="search" name="search" placeholder="&#61442; Search for Products,Mark and category" [(ngModel)]="searchText" [value]="searchText" aria-label="Search" >
        <button  class=" search2  btn   hover mx-1 btnColor   "  type="submit" [routerLink]="['/searchProduct/', searchText]"  > 
       <h6 class=" mt-1 " style="color: #fff;">RECHERCHER</h6> </button>


      </div>

      <div class="col-md-3 col-sm-4  col-xl-2  mx-3  d-xs-flex justify-content-center    d-flex justify-content-end ">
        <a routerLink="/Panier" *ngIf=" getAccestouser() && loggedIn()" type="button" class=" position-relative mx-1 mt-2" tooltip="Votre Panier" placement="bottom"
        >
          <!-- <i class="bi bi-cart3 " routerLink="/Panier"></i> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{this.nombredeprod}}
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>
        <a *ngIf=" getAccestoAdmin() && loggedIn()" type="button" class="  position-relative mx-2 mt-3"  tooltip="Notifications" placement="bottom"
        >
          <i class="bi  bi-bell-fill " routerLink="/notifications"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{nombreContact}}
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>
        <a *ngIf=" getAccestoAdmin() && loggedIn()" type="button" class="  position-relative mx-2 mt-3"
        >
          <i class="bi  bi-bag-check-fill "  tooltip="Notifications" placement="bottom" routerLink="/notifications"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
         +9
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>
        <button routerLink="/login" class=" btn btn-light hover mx-1 fw-bold " type="submit"
          *ngIf="!loggedIn()">Login</button>
        <button   *ngIf="!loggedIn()" routerLink="/register" class=" btn btn-light  hover mx-1 fw-bold" type="submit">Register</button>
      <!--   <button *ngIf="loggedIn()" (click)="  logout()" type="button" class="btn btn-light mx-1" tooltip="Déconnection" placement="top"
        ><i
            class="bi bi-box-arrow-right"></i></button>
 -->
 <!-- <a class="dropdown-toggle" type="button" *ngIf="loggedIn()">
      <img [src]='convertBase64ToImage(client.images)' class="rounded-circle  " width="50px">
      </a> -->
      <!--test-->
      <div class="btn-group    dropstart mx-3  "  *ngIf="loggedIn()">
        <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img [src]='convertBase64ToImage(client.images)' class="rounded-circle  " width="50px">
          
        </a>
        <ul class="dropdown-menu rounded-3 mt-5 position-absolute top-0 end-0  shadow-lg  bg-body  "  style="width: 370px;">
         <div class="container"><div class=" rounded-4 w-100 mt-1 " style="width: 18rem; ">
          <div class="card-body row rounded-4 mx-auto shadow p-3 mb-2 bg-body d-flex height "> 
            <h5 class="card-title col-md-3 "> 
              <img [src]='convertBase64ToImage(client.images)' class="rounded-circle " width="50px"> </h5>
            <h6 class="card-subtitle mb-2 text-muted col-md-8 mt-3 fw-bold" >{{client.username}}</h6>
           <p class="sidebar"></p>
           <a href="" [routerLink]="['/visualiser-personne', client.id]"><h6 class="text-primary ">Voir Votre Profil</h6></a>
          </div>
        </div> </div>
        <li><a class="dropdown-item p-3 hover" href="#" [routerLink]="['/visualiser-personne/',client.id]"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg><strong class="mx-3">Votre Liste d'envies</strong></a></li>
          <li><a class="p-3  dropdown-item hover" href="#" (click)="  logout()"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg> <strong class="mx-3">Se déconnecter</strong></a></li>
        </ul>
      </div>
      <!--fin test-->
      </div>

    </div>
  </div>

</nav>