
.search{
    border: 2px solid #131111;
    border-radius: 25px;
   /*  padding: 10px;
    width: 100%; */
   // box-sizing: border-box;

}
.btnColor{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    background-color: #f68b1e;
    height: 40px;

}


.sidebar{
    border-top: 2px solid #dddddd;}
    .gray{
        background-color: rgb(222, 229, 236);
    }
/* :hover {
    background-color: #f2c119;
}   */
.dropdown:hover .dropdown-menu{
    display: block;
}
.form-control::placeholder  {
    font-family: FontAwesome;
   
  }
  .form-control{
    box-sizing: border-box;
    //width: 400px;
    height: 41px;
  }
/* .btnColor{
    background-color: rgb(206, 201, 201);
} */
/* .margintop{
    margin-top: 50px;
} */
a{
    text-decoration: none;
    color:inherit;
}

.hover:hover{
    color: rgb(240, 131, 30);
}
.position{
    float: right;
    margin-top: 0px;

}
.height{
    height: 130px;
}
