<nav class="navbar navbar-expand-lg ki">
    <div class="container ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-md-5   col-sm-4 ">
          
          <li class="nav-item  ">
            <a class="nav-link active text-white" aria-current="page" href="#" routerLink="/home">Home</a>
          </li>
         <!--  <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Role
            </a>
            <ul class="dropdown-menu" >
              <li><a class="dropdown-item" routerLink="/admin">admin</a></li>
              <li><a class="dropdown-item" routerLink="/employe">employe</a></li>
             
            </ul>
            
          </li> -->
          <li class="nav-item dropdown  " *ngIf="getAccestouser()">
            <a class="nav-link  text-white" href="#" routerLink="/liste-produits" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PRODUCTS
            </a>
           <!--  <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/liste-produits">Liste des produits</a></li>
              <li><a class="dropdown-item" routerLink="/liste-facture">liste des factures</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/liste-devis">liste de devis </a></li>
            </ul> -->
            
          </li>
          <li class="nav-item dropdown  "  *ngIf="getAccestouser() &&  loggedIn()">
            <a class="nav-link  text-white" href="#" routerLink="/adminliste-produit" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PRODUCTS
            </a>
            
          </li>
          <li class="nav-item ">
            <a class="nav-link  text-white "   routerLink="/liste-facture"  *ngIf="loggedIn()">FACTURES  </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  text-white "   routerLink="/liste-devis"   *ngIf="loggedIn()">DEVIS</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  text-white "   routerLink="/list-personne"  *ngIf="getAccestouser() && loggedIn()">PERSONNES</a>
          </li>
        </ul>
        
        <form class=" d-flex   col-sm-10 col-md-4 col-xl-4  " role="search">
          <input class="search" type="search" placeholder="Search for Products" aria-label="Search">
          <button class=" search2  btn btn-light  text-dark mx-1" type="submit"> <i class="bi bi-search"></i></button>
         
          
        </form>
        
        <div class="col-md-3 col-sm-4  mx-1  d-xs-flex justify-content-center    d-flex justify-content-end ">
          <button *ngIf="loggedIn()" type="button"  class="btn btn-light position-relative mx-1">
            <i class="bi bi-cart3" routerLink="/Panier"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{this.nombredeprod}}
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
          <button   routerLink="/login" class=" btn btn-light text-dark mx-1 " type="submit"  *ngIf="!loggedIn()">login</button>
        <button routerLink="/register" class=" btn btn-light  text-dark mx-1" type="submit"  >register</button>
        <button *ngIf="loggedIn()" (click)="  logout()" type="button" class="btn btn-light mx-1"><i class="bi bi-box-arrow-right"></i></button>
       
        
        </div>
        
      </div>
    </div>
    
  </nav>
 