<div class="container row  mt-5  mb-5">
  <form #f="ngForm" class="col-8 ms-5" (ngSubmit)="addPersonne(f)">
    <!--div class="form-group">
      <label for="fname">id:</label>
      <input class="form-control" type="text" id="id" name="id" ngModel>
    </div-->
    <div class="form-group">
      <label for="fname">adress:</label>
      <input class="form-control" type="text" id="adress" name="adress" ngModel pattern="[a-zA-Z_0-9]{4,}" required  #adress="ngModel">
      <div *ngIf="adress.invalid && (adress.dirty || adress.touched)" class="p-2 my-2 bg-danger text-white rounded-3">

        <div *ngIf="adress.errors?.['required']" >
        l'adress est obligatoire.
        </div>
        <div *ngIf="adress.errors?.['pattern']" >
          l'adress doit avoir au moin 4 caractères
        </div>
    </div> </div>
    <div class="form-group">
      <label for="fname">name:</label>
      <input class="form-control" type="text" id="nom" name="nom" ngModel pattern="[a-zA-Z_0-9]{4,10}" required  #nom="ngModel">
      <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="p-2 my-2 bg-danger text-white rounded-3">

        <div *ngIf="nom.errors?.['required']" >
          Le nom est obligatoire.
        </div>
        <div *ngIf="nom.errors?.['pattern']" >
          Le nom doit avoir au min 4 caractères et max 8
        </div>
    </div>
    </div>
    <div class="form-group">
      <label for="fname">prenom:</label>
      <input class="form-control" type="text" id="prenom" name="prenom" ngModel pattern="[a-zA-Z_0-9]{4,10}" required  #prenom="ngModel">
      <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="p-2 my-2 bg-danger text-white rounded-3">

        <div *ngIf="prenom.errors?.['required']" >
          Le prenom est obligatoire.
        </div>
        <div *ngIf="prenom.errors?.['pattern']" > 
          Le prenom doit avoir au moin 4 caractères et max 8
        </div>
    </div>
    </div>
    <div class="form-group">
      <label for="fname">tel:</label>
      <input class="form-control" type="number" id="tel" name="tel" ngModel   required pattern="\d{8}"  #tel="ngModel">
      <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="p-2 my-2 bg-danger text-white rounded-3">

        <div *ngIf="tel.errors?.['required']" >
          Le numéro de tel est obligatoire.
        </div>
        <div *ngIf="tel.errors?.['pattern']" > 
          Le numéro  teléphone doit avoir au maximum 8 chiffres
        </div>
        

    </div>

    </div>
    <div class="form-group my-2">
      <input type="file"multiple class="form-control" value="select"(change)="onSelectedFile($event)" ngModel>
     

    </div>
    <hr>
    <button class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal3" type="submit" [disabled]="f.invalid">save</button>
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Creation avac succés</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            vous avez creé un personne
          </div>
         
        </div>
      </div>
    </div>
    <button routerLink="/list-personne" class="btn btn-primary" >retour</button>
  </form>
  <img  class="py-2 col-3 min-vw-70  " [src]="imgURL" width="100"  height="500"  *ngIf="imgURL" >

</div>