





.color{
    background-color: rgb(246, 127, 9);
}


button:hover {
    background-color: #f2c119;
}
.sidebutton{
    border-top: 1px solid #999595;}

//@at-root


button[disabled]{
    cursor: none;
}
button[disabled]:hover{
    background-color: gray;
    cursor: none;
}