<div class="container mt-5 mb-5 rounded-3 d-flex justify-content-center ">
    <div class="bg-white shadow w-75  rounded-3  ">
        <table class="table ">
        <thead  class="table-light   rounded-3">
         <tr >
            <th scope="col " class="col-7" ><p class=" ms-3 mt-2">Produit</p>  </th>
            <th scope="col "class="col-3"  ><p class=" ms-5 mt-2">Prix</p> </th>
            <th scope="col " class="col-1" ><p class=" ms-5 mt-2">quantité</p> </th>
            <th scope="col" class="col-1" ><p class=" ms-5 mt-2">Total/Produit</p> </th>
          </tr> 
        </thead>
        <tbody>
            <tr *ngFor="let com of personne.cammandes" >
                <td  scope="row" > 
                    <div class=" d-flex">  
                        <div class=" col-md-6 "> 
                             <img [src]='convertBase64ToImage(com.article.images)' class="rounded-1  " width="170px">
                            </div>
                  <div class="d-block  mt-4  col-md-6">  <p class="card border-0 fs-4  m-0  ">{{com.article.description}}</p>
                    <p class="card border-0 fs-4 m-0">Made IN {{com.article.stringff}}</p>
                    <a type="button" class=" fw-bold  mt-5  text-danger" (click)="deleteCommande(com.id)"><i class="bi bi-trash"></i>  Supprimer
                    </a>
                </div>
                    </div> 
                    </td>
                    <td>   <div class="ms-5 mt-5 fw-semibold "> {{com.article.prix}} TND</div> </td>
                    <td>   <div class="ms-5 mt-5 fw-semibold">  {{com.quantity}}  </div> </td>
                    <td>   <div class="ms-5 mt-5 fw-semibold"><p> {{com.article.prix*com.quantity}} TND </p>
                       </div> </td>
              </tr>
              
        </tbody>
        
      </table>
   <div class="text-center fw-semibold fs-3"><p>Total: {{this.TotalParProduit}} TND</p></div>
    </div>
</div>


