<div class="container bg-white shadow-sm mt-5 mb-5 rounded-2 w-50">
    <div class="row ">
        <div class="bg rounded-2 "><p class="fw-semibold text-center text-font fs-1">Liste des Commandes</p> </div>
    </div>
    <div class="row my-1 sidebar " *ngFor="let com of personne.cammandes" >
       
            <div class="row offset-md-1">
                 <div class="d-flex  col-md-12  ">
         <img [src]='convertBase64ToImage(com.article.images)' class="rounded-circle h-100 mx-3   mb-1 p-1 " width="170px">  
                <div class="  mt-4   ">  <p class="card border-0 fs-4   m-0  fw-semibold ">{{com.article.description}}</p>
                    <p class="card border-0 fs-5 m-0">Made IN {{com.article.stringff}}</p>
                    <p class="card border-0 fs-5 m-0">Prix {{com.article.prix}} TND</p>
                    <p class="card border-0 fs-5 m-0">quantity: {{com.quantity}}</p>
                    <p class="card border-0 fs-5 m-0">Montant {{com.article.prix*com.quantity}} TND </p>

                    <a type="button" class=" fw-bold mt-2 mb-1 text-danger" (click)="deleteCommande(com.id)"><i class="bi bi-trash"></i>  Supprimer
                    </a>
                </div>
            </div>
            </div>
    </div>
    <div class="container fw-bold fs-3 text-center p-2  Font">Total =  {{this.TotalParProduit}} TND</div>
</div>
