<div class="container-fluid  mt-5 mb-5  rounded-5">
  <div class="row d-flex justify-content-center ">
    <div class="col-md-8 col-xl-6 mx-auto col-12 col-sm-10">
  <form #f="ngForm" (ngSubmit)="UpdateDevis(f)" class="bg-white  p-3 shadow  mb-5 bg-body rounded-3 ">
    <div class="form-group">
      <div class="form-floating "> <input class="form-control text-center" placeholder="N° ID" type="number" id="codedevis" [(ngModel)]="devis.codedevis" name="codedevis" ngModel
        disabled #codedevis="ngModel"> <label for="">N° ID </label></div>
     
     
    </div>
    <div *ngFor="let devisArticle of devis.articles; let i = index;">

      <div [ngModelGroup]="i+''">
        <div class="form-group">
          <div class="form-floating "> <input class="form-control text-center" placeholder="Réference" type="number" [id]="i+'.codeArticle'"
            [(ngModel)]="devis.articles[i].article.codeArticle" name="codeArticle" ngModel required
            #codeArticle="ngModel"> <label for="">Réference</label></div>
         
         
          <div *ngIf="codeArticle.invalid && (codeArticle.dirty || codeArticle.touched)"
            class="p-2 my-1 bg-danger text-white rounded-3">

            <div *ngIf="codeArticle.errors?.['required']">
              Le codeArticle est obligatoire.
            </div>


          </div>
        </div>
        <div class="form-group">
          <div class="form-floating "> <input class="form-control text-center" placeholder="Remise" type="number" [id]="i+'.remise'" [(ngModel)]="devis.articles[i].remise"
            name="remise" ngModel required #remise="ngModel">  
             <label for="">Remise</label></div>
          
          <div *ngIf="remise.invalid && (remise.dirty || remise.touched)"
            class="p-2 my-1 bg-danger text-white rounded-3">

            <div *ngIf="remise.errors?.['required']">
              Le remise est obligatoire.
            </div>


          </div>
        </div>
        <div class="form-group">
          <div class="form-floating ">
             <input class="form-control text-center" placeholder="Quantité" type="number" [id]="i+'.quantite'" [(ngModel)]="devis.articles[i].quatite"
            name="quantite" ngModel required #quantite="ngModel"> <label  for="">Quantité</label></div>
         
         
          <div *ngIf="quantite.invalid && (quantite.dirty || quantite.touched)"
            class="p-2 my-1 bg-danger text-white rounded-3">

            <div *ngIf="quantite.errors?.['required']">
              La quantite est obligatoire.
            </div>

          </div>
        </div>

      </div>


    </div>



    <hr><div class="row">
    <button class="btn btnColor text-white large col-10 col-sm-5 my-1 mx-auto" type="button" (click)="addArticle()">ajout article</button>
    <button class="btn btn-dark  mx-auto text-white meduim col-10 col-sm-3 my-1" data-bs-toggle="modal" data-bs-target="#exampleModal3"
      type="submit">Save</button>
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modification avac succés</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            vous avez modifié un devis
          </div>

        </div>
      </div>
    </div>
    <button routerLink="/liste-devis" class="btn btn-dark text-white meduim col-10 col-sm-3 my-1  mx-auto ">Retour</button></div>

  </form>
</div></div></div>