
<div class="container col-md-3 mt-5 mb-5">
    <div class="row" >
        <h2 class="text-danger">Detail d'une facture:{{facture.code}}</h2>
        <div *ngFor="let f of facture.articles">
            <p><strong class="text-danger">id: {{f.id}}</strong> </p>
            <p><strong class="text-danger">codeArticle: {{f.article.codeArticle}}</strong> </p>
            <p><strong class="text-danger">description: {{f.description}}</strong> </p>
            <p><strong class="text-danger">paysOrigine: {{f.paysOrigine}}</strong> </p>
            <p><strong class="text-danger">prix: {{f.prix}}</strong> </p>
            <p><strong class="text-danger">tva: {{f.tva}}</strong> </p>
            <p><strong class="text-danger">quatite: {{f.quatite}}</strong> </p>
            <p><strong class="text-danger"> {{f.images}}</strong> </p>
            <hr>

        </div>
        
            
        
    
       
        
        
    </div>
    <button routerLink="/liste-facture" class="btn btn-secondary" >retour</button>
</div>
