


<!-- <p><strong class="text-danger">dateTime: {{facture.articles[0].dateEdition}}</strong> </p> -->

<div class=" container d-flex justify-content-center mt-5 mb-2">
    <div class="row  col-md-8">
<div class=" mx-5">   
    <div class="row">
           <div class="receipt-main ">
               <div class="row">
                 
               </div>
               
               <div class="row ">
                   <div class="">
                    <div class="container">
                       <div class=" text-left row">
                           <div class="receipt-right col-md-5 mt-5">
                               <h5>Nom & Prénom:<span class="fw-normal">{{facture.personne.nom}} {{facture.personne.prenom}} </span> </h5>
                               <p><b>Mobile :</b> {{facture.personne.tel}}</p>
                               <p><b>Email :</b> {{facture.personne.email}}</p>
                               <p><b>Address :</b> {{facture.personne.adress}}</p>
                               <p class="mt-3"><strong>{{facture.articles[0].dateEdition |  date:'fullDate'}}</strong> </p>
                           </div>
                           <div class="col-md-3 mt-5 ">
                            <img src="../../../assets/maison.jpg" alt="" width="100px" height="100px" class="rounded-circle ">
                          <p class="fw-bold">Maison Moderne</p>  
                           </div>
                           <div class=" col-md-4 mt-5 p-0"> 
                            <p class="fs-6  text-start"><strong> Mohammed Hachicha</strong> </p>
							<p class="fs-6 text-start"> <i class="fa fa-phone"></i> 58 850 421</p>
							<p class="fs-6  text-start"><i class="fa fa-envelope-o"></i> hachicha98@gmail.com </p>
							<p class="fs-6  text-start"><i class="fa fa-location-arrow"></i> Tunisie </p> </div>
                       </div></div>
                       <div>
                           <div class="text-center">
                               <h3>Facture N°{{facture.id}}</h3>
                           </div>
                       </div>
                       <div class="invoice-items">
                        <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                            <table class="table table-bordered">
                                <thead>
                                    <tr >
                                        <th class="per70 text-center text-white">Description</th>
                                        <th class="per5 text-center text-white">Qty</th>
                                        <th class="per25 text-center text-white"> TOTAL/Produit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let f of facture.articles">
                                        <td>{{f.article.description}}</td>
                                        <td class="text-center">{{f.quatite}}</td>
                                        <td class="text-center">{{f.quatite*f.article.prix}} TND</td>
                                    </tr>
                                  
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2" class="text-right">Totale </th>
                                        <th class="text-center">{{montantSRemise}} TND</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" class="text-right">Remise</th>
                                        <th class="text-center">{{montant}} TND</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" class="text-right"> Totale Net</th>
                                        <th class="text-center">{{MontantNet}} TND</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" class="text-right"> T.V.A(19%)</th>
                                        <th class="text-center">{{Tva}} TND</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" class="text-right"> Timbre</th>
                                        <th class="text-center">0.600 TND</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" class="text-right"> TOTAL TTC</th>
                                        <th class="text-center">{{TTCFinal}} TND</th>
                                    </tr>
                                    
                                </tfoot>
                            </table>
                        </div>
                    </div>
                   </div>
               </div>
               
               <div>
                 
               </div>
               
               <div class="row d-flex justify-content-center">
                 <div class="rounded-3 border border-dark col-md-5 mx-1"> 
                    <p class="text-center p-4">Signature Client</p>
                 </div>
                 <div class="rounded-3 border border-dark col-md-5"> 
                    <p class="text-center p-4">Signature et Cachet</p>
                 </div>
               </div>
               
           </div>    
       </div>
   </div></div></div>
   <div class="d-flex justify-content-center mb-5 offset-md-5"><button type="button" class="btn btn-secondary w-25 ">Imprimer Cette Page <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
    <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
    <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
  </svg></button></div>