<div class="container mt-5 col-md-6">
    <form #f="ngForm" (ngSubmit)="addProduit(f)">
      
      <div class="form-group">
        <label for="fname">description:</label>
        <input class="form-control" type="text" id="description" name="description" ngModel>
      </div>
      <div class="form-group">
        <label for="fname">photo:</label>
        <input class="form-control" type="text" id="photo" name="photo" ngModel>
      </div>
      <div class="form-group">
        <label for="fname">remis:</label>
        <input class="form-control" type="text" id="remis" name="remis" ngModel>
      </div>
      <div class="form-group">
        <label for="fname">tva:</label>
        <input class="form-control" type="text" id="tva" name="tva" ngModel>
      </div><div class="form-group">
        <label for="fname">quantité:</label>
        <input class="form-control" type="text" id="quantite" name="quantite" ngModel>
      </div>
      <div class="form-group">
        <label for="fname">prix:</label>
        <input class="form-control" type="text" id="prix" name="prix" ngModel>
      </div>
      <div class="form-group">
        <label for="fname">paysOrigine:</label>
        <input class="form-control" type="text" id="paysOrigine" name="paysOrigine" ngModel>
      </div>
      <hr>
      <button class="btn btn-primary" type="submit">save</button>
      <button routerLink="/liste-produits" class="btn btn-primary" >retour</button>
    </form>
  </div>