<div class="container-fluid   mt-5 mb-5">
<div class="row">
    <form #f="ngForm" class="col-md-8 col-12 col-sm-10 col-xl-6 mx-auto bg-white shadow p-3  bg-body rounded-2 h-100 " (ngSubmit)="addProduit(f)">
      
      <div class="form-group  ">
        <div class="form-floating">
          <input class="form-control mt-2 text-center"  placeholder="description" type="text" id="description" name="description" ngModel required  #description="ngModel">
          <label for="floatingInput">Description</label>
        </div>
       <div *ngIf="description.invalid && (description.dirty || description.touched)" class="p-2 mt-2 bg-danger text-white text-center rounded-1">

          <div *ngIf="description.errors?.['required']" >
            La description est obligatoire.
          </div>
         <!--  <div *ngIf="description.errors?.['pattern']"  >
            La description doit avoir  au moins  3 caractéres!
          </div> -->
      </div>
      </div>
     <!--  <div class="form-group">
        <label for="fname">photo:</label>
        <input class="form-control" type="text" id="photo" name="photo" ngModel required  #photo="ngModel">
        <div *ngIf="photo.invalid && (photo.dirty || photo.touched)" class="p-2 my-1 bg-danger text-white rounded-3">

          <div *ngIf="photo.errors?.['required']" >
            La photo est obligatoire.
          </div>
      </div></div> -->
      <div class="form-group">
        <div class="form-floating">
        <input class="form-control text-center" type="number" placeholder="Remise" id="remise" name="remise" ngModel required  #remise="ngModel" >
        <label for="">Remise(%)</label>
      </div>
        
        <div *ngIf="remise.invalid && (remise.dirty || remise.touched)" class="p-2  mt-2 bg-danger text-white rounded-1 text-center">

          <div *ngIf="remise.errors?.['required']" >
            La remis est obligatoire.
          </div>
          
      </div>
      </div>
      <div class="form-group">
        <div class="form-floating"> 
        <input class="form-control text-center" placeholder="TVA" type="number" id="tva" name="tva" ngModel  required  #tva="ngModel">
         <label for="">TVA</label></div>
        <div *ngIf="tva.invalid && (tva.dirty || tva.touched)" class="p-2  mt-2 bg-danger text-white rounded-1 text-center">

          <div *ngIf="tva.errors?.['required']" >
            Le tva est obligatoire.
          </div>
          
      </div>
      </div><div class="form-group">
        <div class="form-floating">
        <input class="form-control text-center" type="number" id="quantite" placeholder="quantite" name="quantite" ngModel  required  #quantite="ngModel"> <label for="">Quantité</label> </div>
        <div *ngIf="quantite.invalid && (quantite.dirty || quantite.touched)" class="p-2  mt-2 bg-danger text-white rounded-1 text-center">
          <div *ngIf="quantite.errors?.['required']" >
            La quantite est obligatoire.
          </div>
          
      </div>
      </div>
      <div class="form-group">
        <div class="form-floating"> <input class="form-control text-center" placeholder="Prix" type="number" id="prix" name="prix" ngModel   required  #prix="ngModel">
        <label for="fname">Prix</label></div>
       
        <div *ngIf="prix.invalid && (prix.dirty || prix.touched)" class="p-2  mt-2 bg-danger text-white rounded-1 text-center">

          <div *ngIf="prix.errors?.['required']" >
            Le prix est obligatoire.
          </div>
         
      </div>
      </div>
      <div class="form-group">
        <div class="form-floating">
           <input class="form-control text-center" placeholder="Pays Origine" type="text" id="paysOrigine" name="paysOrigine" ngModel required pattern="[a-zA-Z]{3,10}" #paysOrigine="ngModel">
        <label for="fname">Pays Origine</label></div>
       
       <div *ngIf="paysOrigine.invalid && (paysOrigine.dirty || paysOrigine.touched)" class="p-2 mt-2 bg-danger text-white rounded-1 text-center">

          <div *ngIf="paysOrigine.errors?.['required']" >
            La paysOrigine est obligatoire.
          </div>
          <div *ngIf="paysOrigine.errors?.['pattern']"  >
            Le paysOrigine doit avoir  au moins  3 caractéres!
          </div>
      </div></div>
     <!-- <div *ngFor="let el of elements;let index = index" [ngModelGroup]="index+''">   -->
      <div class="form-group my-2">
        <input type="file"multiple class="form-control" value="select"(change)="onSelectedFile($event)" ngModel name="files">
      </div>  
     <!-- </div>   -->
      <!-- <div class="form-group my-2">
        <input type="file"multiple class="form-control" value="select"(change)="'onSelectedFile($event)'+index" ngModel name="files">
      </div> -->
      <!-- <img *ngFor="let url of images" [src]="url" class="rounded mb-3" width="180"> -->
      <hr>
      <!-- <button class="btn btn-primary mx-2" type="button" (click)="addimage()" >add image</button> -->
      <div class="row d-flex justify-content-evenly">
      <button class="btn btnColor text-white shadow-lg col-md-5 col-10 col-sm-5 my-1" data-bs-toggle="modal" data-bs-target="#exampleModal3" type="submit" [disabled]="f.invalid">Save Changes</button>
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Creation avac succés</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            vous avez creé un produit
          </div>
         
        </div>
      </div>
    </div>
      <button routerLink="/adminliste-produit" class="btn btn-dark col-md-5 shadow-lg col-10 col-sm-5 my-1" >Retour</button></div>
    </form>
    <div class="col-md-3 col-xl-2   col-11 my-2 mx-auto col-sm-10 w-100  border border-secondary bg- rounded-3  bg-white ">
       <div class="d-flex flex-column "> 
        <h1 class="fst-italic text-center">Images</h1>
        <div  *ngFor="let url of images; let i=index">
        <div class="position-relative  "> <div class="position-absolute  p-2 mt-0">
            <button class="btn  rounded-circle" (click)=" removeImage(i)"><i class="bi bi-x-lg"></i></button> 
     </div>
           <img   [src]="url" class="rounded-2 w-100 my-1" width="250px" ></div></div>
    </div></div></div></div>
 
 