<div id="carouselExampleIndicators" class="carousel slide  mt-5" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button *ngFor="let image of produit.images; let index = index" type="button"
      data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="index" class="active" aria-current="true"
      [attr.aria-label]="'Slide'+ index"></button>
    <!--button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button-->
  </div>
  <div class="carousel-inner">
    <div class="col-6 d-flex justify-content-center">
      <div *ngFor="let image of produit.images; let first = first" class="carousel-item" [ngClass]="{'active': first}">
        <img [src]='convertBase64ToImage(image)'  class="d-block w-100" [alt]="produit.name">
      </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container col-md-6  w-50  mb-3 mx-5 ">
  <div class="row ">
    <div class=" bg-light w-50 rounded-pill">
  <!-- <h5 class="  text-center">Ajouter votre Avis ici</h5> -->
  <form #f="ngForm" (ngSubmit)="ajouterVotreAvis(f)">
    <input class="form-control my-2 float-Start w-30 " type="hidden" [(ngModel)]="this.key" ngModel name="idPersonne">
    <input class="form-control my-2 float-Start w-30 " type="hidden" [(ngModel)]="produit.codeArticle" ngModel
      name="codeArticle">
    <form [formGroup]="form">
      <div class=" d-flex justify-content-center">
        <ngx-star-rating formControlName="rating" [id]="'rating'"></ngx-star-rating>
      </div>
    </form>
    <!-- <div class="text-center"><b>Rating: </b>{{form.value.rating}}</div>   -->
    <!-- Completer le nombre d'étoile-->
    <input class="form-control my-2  " type="hidden"  [(ngModel)]="form.value.rating" ngModel name="etoile">
    <div class="d-flex">
    <img src="../../../assets/maison.jpg" width="50px" height="45px" class="rounded-circle">
    <input class="form-control my-2 text-center mx-2 rounded-pill " type="text" placeholder="écrivez un Commentaire" ngModel
      name="message"></div>
      <div class="d-flex justify-content-center">
    <button type="submit" class="  btn btn-secondary rounded-3  mb-2">Envoyer </button></div>
  </form></div>
 
</div></div>

<hr>
<div class="container">
  <div class="row">
   
      <!-- <h5><b>évaluations client:</b></h5>
        <div class="stars d-flex justify-content-start ms-0 "size="25"><a  [routerLink]="['/avisSearch/',5]">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          </a></div>
        <div class="stars d-flex justify-content-start ms-0  "><a [routerLink]="['/avisSearch/', 4]">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star color"></span>          </a> </div>
        <div class="stars d-flex justify-content-start ms-0 "><a [routerLink]="['/avisSearch/', 3]">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star color"></span>
          <span class="fa fa-star color"></span>          </a></div>
        <div class="stars d-flex justify-content-start ms-0 "><a [routerLink]="['/avisSearch/', 2]">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star color"></span>
          <span class="fa fa-star color"></span>
          <span class="fa fa-star color"></span>
                    </a></div>
        <div class="stars d-flex justify-content-start ms-0 "><a [routerLink]="['/avisSearch/', 1]">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star color"></span>
          <span class="fa fa-star color"></span>
          <span class="fa fa-star color"></span>
          <span class="fa fa-star color"></span>
                    </a></div> -->

                    <div class="col-md-3 p-3  margin ">
                      <div class="stars d-flex justify-content-center  "size="25">
                        <div class="flex">
                          <input [routerLink]="['/avisSearch/',5]" type="radio" name="radio" id="radio1" />
                          <label for="radio1"></label>
                        </div>
                        <a  >
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        </a></div>
                      <div class="stars d-flex justify-content-center ms-0  ">
                        <div class="flex">
                          <input [routerLink]="['/avisSearch/', 4]" type="radio" name="radio" id="radio3" />
                          <label for="radio3"></label>
                        </div><a >
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star color"></span> </a> </div>
                      <div class="stars d-flex justify-content-center ms-0 "><div class="flex">
                        <input [routerLink]="['/avisSearch/', 3]" type="radio" name="radio" id="radio1" />
                        <label for="radio1"></label>
                      </div><a >
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star color"></span>
                        <span class="fa fa-star color"></span>          </a></div>
                      <div class="stars d-flex justify-content-center ms-0 "><div class="flex">
                        <input [routerLink]="['/avisSearch/', 2]" type="radio" name="radio" id="radio1" />
                        <label for="radio1"></label>
                      </div><a >
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star color"></span>
                        <span class="fa fa-star color"></span>
                        <span class="fa fa-star color"></span>
                                  </a></div>
                      <div class="stars d-flex justify-content-center ms-0 "><div class="flex">
                        <input [routerLink]="['/avisSearch/', 1]" type="radio" name="radio" id="radio1" />
                        <label for="radio1"></label>
                      </div>
                      <a >
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star color"></span>
                        <span class="fa fa-star color"></span>
                        <span class="fa fa-star color"></span>
                        <span class="fa fa-star color"></span>
                                  </a></div>
                    </div>
    
    <div class="col-8">
      <div class="container  w-75  mb-3 bg-light rounded-3 " *ngFor="let avis of produit.avis; index as i">
        <div class="p-3">
         
          <a [routerLink]="['/visualiser-personne/',avis.personne.id]"><h5 class="p-1"><img   [src]='convertBase64ToImage(avis.personne.images)' class="rounded-circle" width="50"
            height="50"> {{avis.personne.nom}} {{avis.personne.prenom}}</h5></a>
          <div class="stars d-flex justify-content-start ">
            <ngx-star-rating [(ngModel)]=avis.etoile [id]="'rating1'+i" [disabled]="true"></ngx-star-rating>
          </div>

          <p class="m-0" ><strong>Commenté le {{avis.dateAvis | date:'fullDate'}}</strong> </p>
          <!-- <p class="d-flex justify-content-start fw-bold">Rating: {{avis.etoile}}</p> -->
          <p class="card-text m-0"><strong> Message:</strong>  {{avis.message}}.</p>

        </div>
      </div>
    </div>
   
  </div>
</div>