<div class="container col-md-3 mt-5 mb-5">
    <div class="row">
        <h2 class="text-danger">Detail d'une personne:</h2>
        <p><strong class=" text-danger ">id:</strong> {{personne.id}}</p> 
        <p><strong class="text-danger">Adress:</strong> {{personne.adress}}</p>
        <p><strong class="text-danger ">Nom:</strong>  {{personne.nom}}</p>
        <p><strong class="text-danger ">Prenom:</strong> {{personne.prenom}}</p>
        <p><strong class="text-danger ">Tel:</strong> {{personne.tel}}</p>
        
        
    </div>
    <button routerLink="/list-personne" class="btn btn-secondary" >retour</button>
</div>

























