<div class="container col-md-4 mt-5  mb-5">
    <form #f="ngForm"  (ngSubmit)="UpdateProduit(f)">
      <div class="form-group">
        <label for="fname"> codeArticle:</label>
        <input class="form-control" type="number" id=" code" [(ngModel)]="produit.codeArticle"  disabled  name="codeArticle" required ngModel  #codeArticle="ngModel">
        <div *ngIf="codeArticle.invalid && (codeArticle.dirty || codeArticle.touched)" class="p-2 my-1 bg-danger text-white rounded-3">

          <div *ngIf="codeArticle.errors?.['required']" >
            Le codeArticle est obligatoire.
          </div>
          
      </div>
      </div>
      <div class="form-group">
        <label for="fname"> description:</label>
        <input class="form-control" type="text" id="description" [(ngModel)]="produit.description" name="description" ngModel required pattern="[a-zA-Z]{3,25}" #description="ngModel">
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="p-2 my-1 bg-danger text-white rounded-3">

          <div *ngIf="description.errors?.['required']" >
            La description est obligatoire.
          </div>
          <div *ngIf="description.errors?.['pattern']"  >
            La description doit avoir  au moins  3 caractéres!
          </div>
      </div>
      </div>
      <!-- <div class="form-group">
        <label for="fname">photo:</label>
        <input class="form-control" type="text" id="photo" [(ngModel)]="produit.photo" name="photo" ngModel  required  #photo="ngModel">
        <div *ngIf="photo.invalid && (photo.dirty || photo.touched)" class="p-2 my-1 bg-danger text-white rounded-3">

          <div *ngIf="photo.errors?.['required']" >
            La photo est obligatoire.
          </div>
      </div>
      </div> -->
      <div class="form-group">
        <label for="fname">remis:</label>
        <input class="form-control" type="number" id="remise" [(ngModel)]="produit.remise" name="remise" ngModel required  #remise="ngModel" >
        <div *ngIf="remise.invalid && (remise.dirty || remise.touched)" class="p-2 my-1 bg-danger text-white rounded-3">

          <div *ngIf="remise.errors?.['required']" >
            La remis est obligatoire.
          </div>
          
      </div>
      </div>
      <div class="form-group">
        <label for="fname">tva:</label>
        <input class="form-control" type="number" id="tva" [(ngModel)]="produit.tva" name="tva" ngModel  required  #tva="ngModel">
        <div *ngIf="tva.invalid && (tva.dirty || tva.touched)" class="p-2 my-1 bg-danger text-white rounded-3">

          <div *ngIf="tva.errors?.['required']" >
            Le tva est obligatoire.
          </div>
          
      </div>
      </div>
      <div class="form-group">
        <label for="fname">quantite:</label>
        <input class="form-control" type="number" id="quantite" [(ngModel)]="produit.quantite" name="quantite" ngModel  required  #quantite="ngModel">
        <div *ngIf="quantite.invalid && (quantite.dirty || quantite.touched)" class="p-2 my-1 bg-danger text-white rounded-3">

          <div *ngIf="quantite.errors?.['required']" >
            La quantite est obligatoire.
          </div>
         
      </div> </div>
      <div class="form-group">
        <label for="fname">prix:</label>
        <input class="form-control" type="number" id="prix" [(ngModel)]="produit.prix" name="prix" ngModel   required  #prix="ngModel">
        <div *ngIf="prix.invalid && (prix.dirty || prix.touched)" class="p-2 my-1 bg-danger text-white rounded-3">

          <div *ngIf="prix.errors?.['required']" >
            Le prix est obligatoire.
          </div>
          
      </div>
      </div>
      <div class="form-group">
        <label for="fname">paysOrigine:</label>
        <input class="form-control" type="text" id="paysOrigine" [(ngModel)]="produit.paysOrigine" name="paysOrigine" ngModel required pattern="[a-zA-Z]{3,10}" #paysOrigine="ngModel">
        <div *ngIf="paysOrigine.invalid && (paysOrigine.dirty || paysOrigine.touched)" class="p-2 my-1 bg-danger text-white rounded-3">

          <div *ngIf="paysOrigine.errors?.['required']" >
            La paysOrigine est obligatoire.
          </div>
          <div *ngIf="paysOrigine.errors?.['pattern']"  >
            La paysOrigine doit avoir  au moins  3 caractéres!
          </div>
      </div></div>
      <!-- <div class="form-group my-2" >
        <input type="file"multiple ngModel class="form-control" name="file" (change)="onSelectedFile($event)" required  #file="ngModel">


      </div> -->
      
      <hr>
      <button class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal3" type="submit" [disabled]="f.invalid">save</button>
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modification avac succés</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            vous avez modifié  un produit
          </div>
         
        </div>
      </div>
    </div>
      <button routerLink="/adminliste-produit" class="btn btn-primary" >retour</button>
  
    </form>
    <!-- <img  class="py-2 col-3 min-vw-70  " [src]="imgURL" width="100"  height="500"  *ngIf="imgURL" > -->
  </div>