<div id="carouselExampleControls" class="carousel carousel-dark  slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <div class="card-wrapper slider-wrap"><div class="card " style="width: 15rem;">
        <img src="../../assets/maison.jpg" class="card-img-top" alt="...">
        <div class="card-body slider-main">
          <h5 class="card-title text">1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card " style="width: 15rem;">
        <div class="image-wrapper">  <img src="../../assets/maison.jpg"  alt="..."></div>
      
        <div class="card-body">
          <h5 class="card-title">2</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card "style="width: 15rem;">
        <img src="../../assets/maison.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>  <div class="card "style="width: 15rem;">
        <img src="../../assets/maison.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">3 title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>  <div class="card "style="width: 15rem;">
        <img src="../../assets/maison.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">4 title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>  <div class="card "style="width: 15rem;">
        <img src="../../assets/maison.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">5 title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>  <div class="card "style="width: 15rem;">
        <img src="../../assets/maison.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">6 title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>  <div class="card "style="width: 15rem;">
        <img src="../../assets/maison.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">7 title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>  <div class="card "style="width: 15rem;">
        <img src="../../assets/maison.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">8 title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>  <div class="card "style="width: 15rem;">
        <img src="../../assets/maison.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">9 title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>  <div class="card "style="width: 15rem;">
        <img src="../../assets/maison.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">10 title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>  <div class="card "style="width: 15rem;">
        <img src="../../assets/maison.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">11 title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
 
    </div>
   
  </div>
  <button class="carousel-control-prev"  type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" appNext type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>