<h1 >personne informations</h1>

  <!--Rajouter un bloc div qui permet d'afficher les informations de la personne-->

 <div class="container"><table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">adress</th>
        <th scope="col">nom</th>
        <th scope="col">prenom</th>
        <th scope="col">tel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pers of personnes">
        <th scope="row">{{pers.id}}</th>
        <td>{{pers.adress}}</td>
        <td>{{pers.nom}}</td>
        <td>{{pers.prenom}}</td>
        <td>{{pers.tel}}</td>
        <td><button (click)="DeletePersonne(pers.id)" type="button" class="btn btn-danger">Delete</button></td>
        
        <td><!-- Button trigger modal -->
          <button  type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Update   </button>
          
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Update personne</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form   >
                    <div class="form-group">
                      <label for="fname">adress:</label>
                      <input   class="form-control" type="text" id="adress" name="fname"  >
                </div>
                <div class="form-group">
                  <label for="fname">name:</label>
                  <input class="form-control" type="text" id="nom" name="fname"  >
            </div>
            <div class="form-group">
                  <label for="fname">prenom:</label>
                  <input class="form-control" type="text" id="prenom" name="fname"  >
            </div>
            <div class="form-group">
                  <label for="fname">tel:</label>
                  <input class="form-control" type="text" id="tel" name="fname"  >
            </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button  type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div></td>
      </tr>
      
    </tbody>
  </table></div> 
  
  <h1> details informations</h1>
  <div class="container"><table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">code</th>
        <th scope="col">code_article</th>
        <th scope="col">quantité</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of detail">
        <th scope="row">{{p.code}}</th>
        <td>{{p.code}}</td>
        <td>{{p.code_article}}</td>
        <td>{{p.quantite}}</td>
        <td><button (click)="DeleteDetails(p.code)" type="button" class="btn btn-danger">Delete</button></td>
        
        <td>
          <button  type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#static">
            Update   </button>
          
          
          <div class="modal fade" id="static" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Update details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form   >
                    <div class="form-group">
                      <label for="fname">code:</label>
                      <input   class="form-control" type="text" id="adress" name="fname"  >
                </div>
                <div class="form-group">
                  <label for="fname">codearticle:</label>
                  <input class="form-control" type="text" id="nom" name="fname"  >
            </div>
            <div class="form-group">
                  <label for="fname">quantité:</label>
                  <input class="form-control" type="text" id="prenom" name="fname"  >
            </div>
              
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button  type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div></td>
      </tr>
      
    </tbody>
  </table></div> 