/* .dropdown-toggle{bottom: 6px;
    right: 6px;
    transform: translate(50%, 50%);} */


    /* .shadow{
        box-shadow: 2px 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    } */
    .sidebar{
        border-top: 2px solid #dddddd;}
        .gray{
            background-color: rgb(222, 229, 236);
        }