/* .dropdown-toggle{bottom: 6px;
    right: 6px;
    transform: translate(50%, 50%);} */


    /* .shadow{
        box-shadow: 2px 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    } */
   /*  .sidebar{
        border-top: 2px solid #dddddd;}
        .gray{
            background-color: rgb(222, 229, 236);
        }
      

      .card-wrapper{
        display: flex;
      }
      .card{
        margin: 0.5em;
        height: 400px;
      }
    .image-wrapper img{
        max-width: 100%;
        max-height: 100%;
    }

    
  .slider-wrap{
    position: relative;
  height: 550px;
  overflow: hidden;
margin-bottom: 100px;
  }
  .slider-main{
    position: absolute;
    width: 200%;
  }
  .item{
    display: inline-block;
   width: 100ps;
    height: 90px;
    position: relative;
    background-color: #f68b1e;
    margin:108px; 
   //margin-left: 22px;
   // display: flex;
  }
 
  .text{
position: absolute;
background-color: rgb(247, 247, 247);
//top: 50%;
//left: 50%;
//margin:60px; 
width: 200px;
  }
  
  .visibility1{
visibility:visible;
  }

  
  .slide-img{
height: 450px;
  }
  .slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
  }
  .detail-box{
width: 100%;
display: flex;
justify-content: space-between;
  }



  .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box{
    width: 350px;
    height: 610px;
    background-color: #f68b1e;
    overflow: hidden;
    position:relative;
    margin: 20px;
    border-radius: 10px;
   

  } */
.container{
 margin: auto;
}
 
a{
    text-decoration: none;
    color: #000;
}
.marginLeft{
 margin-left: 120px;
}
.animate{
   //box-shadow: 0 3px 4px rgba(27, 22, 22, 0.1);
   box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
//box-shadow:  0 1rem 3rem rgba(black, .175);

}
.marginb{
  margin: 2px;
 
}
.width{
  width: 450px;
}
.box {
  //margin-left: 100px;
  margin: 5px;
}
.marginl{
  margin-left: 150px;
  margin-right: 150px;
}
.hover:hover{
    
    box-shadow: 1px 0.5rem 1.5rem rgba(black, .200);
  transform: scale(1.01);
}
/* button[disabled]:hover{
    background-color: gray;
    cursor: none;
} */
 .circle{
  width: 10px;
  height:  10px;
  border-radius: 25px;
  border: 2px;
  background-color: orange;
}
 







.btnColor{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    background-color: #f68b1e;
    height: 40px;
   // color: #fff;

}

.color-bg{
    color: #f68b1e;
    background-color: #feefde;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    
}
.margin1{
  width: 200px;
}
.sidebar{
border-top: 1px solid #dddddd;}
.sidebutton{
    border-bottom: 1px solid #dddddd;}
a,h4{
    color: #898989;
    font-size: 16px;
    cursor: pointer;
}
.checked {
    color: orange; 
    margin: 4px;
    
  }
  .color{
  color:gray;
  margin: 4px;
  
  }