.animate :hover{
    //transition: 0.1 ease-in-out;
  // transform: scale(1.02);
   // box-shadow: 0 3px 4px rgba(27, 22, 22, 0.1);
  // box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

    button{
        visibility:visible;
    }
  
    
}
p{margin: 0px;
}

a.active{
    background-color: rgb(19, 15, 15);
    color: rgb(249, 237, 237);
  }
button{
    visibility:hidden;
}
a{
    text-decoration: none;
    color: #000;
}
.animate{
   //box-shadow: 0 3px 4px rgba(27, 22, 22, 0.1);
   box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
//box-shadow:  0 1rem 3rem rgba(black, .175);

}
.card:hover{
    //box-shadow: 5px 10px 10px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-shadow: 0 2rem 2rem rgba(black, .250);
    transition: 0.5 ease-in-out;
  transform: scale(1.05);
}
/* button[disabled]:hover{
    background-color: gray;
    cursor: none;
} */







.btnColor{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    background-color: #f68b1e;
    height: 40px;
   // color: #fff;

}
.col-md-3{
    max-width: 300px;
}

.color-bg{
    color: #f68b1e;
    background-color: #feefde;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    
}
.sidebar{
border-top: 1px solid #dddddd;}
.sidebutton{
    border-bottom: 1px solid #dddddd;}
a,h4{
    color: #898989;
    font-size: 16px;
    cursor: pointer;
}
.checked {
    color: orange; 
    margin: 4px;
    
  }
  .color{
  color:gray;
  margin: 4px;
  
  }
  .form-check-input:hover{
    box-shadow: 8 4px 8px 0 rgba(240, 128, 7, 0.2);
  }
  .form-check-input{
    width: 20px;
    height: 20px;
    border-radius: 2px;
  }
  .form-check-input:checked{
    background-color: #f68b1e;
    width: 20px;
    height: 20px;
    
  }
  .checked {
    color: orange; 
    margin: 5px;
    
  }
  .color{
    color:rgb(184, 184, 184);
    margin: 5px;
  
  }
  .btnColor1{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    background-color: #f68b1e;
    height: 39px;
    
}
  input[type="radio"]:checked {
    background-color: #fc8c03;
  }
  input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 3px;
    /* background-color only for content */
    background-clip: content-box;
    border: 3px solid #bbbbbb;
  
    border-radius: 50%;
  }