.animate :hover{
    transition: 0.1 ease-in-out;
    transform: scale(1.02);
  
    
}


/* button[disabled]:hover{
    background-color: gray;
    cursor: none;
} */



.color-bg{
    color: #f68b1e;
    background-color: #feefde;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    
}

/* .animate2{
   // border: 1px solid #f1eded;
   /*  border-radius: 22px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); */
   /*  border: 1px solid #f1eded;
    border-radius: 22px;
    box-shadow: 0 3px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}  */
.animate{
    border: 1px solid #f1eded;
    border-radius: 22px;
    box-shadow: 0 3px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.sidebar{
border-top: 1px solid #dddddd;}
a,h4{
    color: #898989;
    font-size: 16px;
    cursor: pointer;
}
a:hover{
    color: #ff9933
}
 /* div.route:checked{
    transform: rotate(270deg);
    transition: all 300ms; 
     animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
    from {transform: rotate(0deg);}
    to {transform: rotate(270deg);}
  }  */